:root {
  --dark-color: #19283f;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --green-color: #33d1cc;
  --section-color: #eff7fa;
}

.main-btn {
  background-color: var(--red-color);
  color: var(--yellow-color);
  border: none;
}
.main-btn:hover,
.main-btn:focus {
  background-color: var(--red-color);
  color: var(--yellow-color);
}

/* Navbar */
nav {
  background-color: var(--dark-color);
}

.navbar .nav-link {
  color: white;
}

.navbar .nav-link.active,
.navbar .nav-link:hover {
  color: var(--green-color);
}

.navbar .search {
  color: var(--green-color);
  border-left: 1px solid var(--green-color);
}

.navbar button {
  border-color: white;
}

.navbar button:focus {
  box-shadow: none;
}

.navbar button[aria-expanded="true"] {
  border-color: var(--green-color);
}

.navbar button i {
  font-size: 25px;
}

/* Landing */
.landing {
  height: calc(100vh - 70px);
  background-color: var(--dark-color);
}

/* Features */
.main-title img {
  width: 5rem;
}

.main-title::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: var(--green-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.feat .icon-holder {
  height: 200px;
}

.feat .icon-holder i {
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}

.feat .icon-holder i:first-child {
  font-size: 12rem;
  color: var(--section-color);
}

.feat .icon-holder i:last-child {
  color: var(--green-color);
}

.feat h4 {
  color: var(--yellow-color);
}

/* Our Work */
.our-work {
  background-color: var(--section-color);
}

.our-work ul li{
cursor: pointer;
}

.our-work ul li:not(:first-child):hover {
  color: var(--red-color);
}

.our-work .image-box {
  cursor: pointer;
  padding: 5px;
  overflow: hidden;
  transition: 00.3s;
  -webkit-transition: 00.3s;
  -moz-transition: 00.3s;
  -ms-transition: 00.3s;
  -o-transition: 00.3s;
}

.our-work .image-box::before {
  content: "Application";
  position: absolute;
  background-color: #33d1cc7d;
  color: white;
  font-size: 25px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  bottom: -100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.our-work .image-box:hover {
  transform: rotate(-2deg) scale(1.1);
  -webkit-transform: rotate(-2deg) scale(1.1);
  -moz-transform: rotate(-2deg) scale(1.1);
  -ms-transform: rotate(-2deg) scale(1.1);
  -o-transform: rotate(-2deg) scale(1.1);
}

.our-work .image-box:hover::before {
  bottom: 5px;
}

/* About Us */
.about-us .container > p {
  max-width: 500px;
}